In [7]:
import pandas as pd

file = '../data/tastdb-exp-2020.sav'

df = pd.read_spss(file)

In [8]:
df.head()

,VOYAGEID,ADLT1IMP,ADLT2IMP,ADLT3IMP,ADPSALE1,ADPSALE2,ADULT1,ADULT2,ADULT3,ADULT4,...,YEAR5,YEAR10,YEAR25,YEAR100,YEARAF,YEARAM,YEARDEP,YRCONS,YRREG,filter_$
0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,years 1816-20,years 1811-20,years 1801-25,1800.0,1816.0,1817.0,1816.0,NaN,NaN,Not Selected
1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,years 1816-20,years 1811-20,years 1801-25,1800.0,1817.0,1817.0,1816.0,NaN,NaN,Not Selected
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,years 1816-20,years 1811-20,years 1801-25,1800.0,1817.0,1817.0,1816.0,NaN,NaN,Not Selected
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,years 1816-20,years 1811-20,years 1801-25,1800.0,1817.0,1817.0,1816.0,NaN,NaN,Not Selected
4,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,years 1816-20,years 1811-20,years 1801-25,1800.0,1817.0,1817.0,1817.0,NaN,NaN,Not Selected

In [10]:
df[['SHIPNAME', 'NATIONAL']].value_counts()

SHIPNAME                  NATIONAL
                          Great Britain    243
                          USA              234
Mary                      Great Britain    196
Nancy                     Great Britain    142
                          Portugal         113
                                          ...
Johan van Oldenbarneveld  Netherlands        1
Joceline                  Great Britain      1
Joana                     Portugal           1
Joachim                   France             1
Órion                     USA                1
Length: 8440, dtype: int64